*.class
*.iml

.idea

# Bower Files #
components

# Node Files #
node_components

# Pushserve test server #
pushserve

# Eclipse Files #
bin
.project
.settings
.classpath

# Maven Files #
target
foo

# Package Files #
*.jar
*.war
*.ear

# Data #
web/data:storage
web/data/linux
