<div id="left-frame" class="span2">
	<div class="well sidebar-nav">
		<div class="sidebar-header"></div>
		<div class="sidebar-content"></div>		
	</div>
</div>

<div id="main-frame" class="span10"></div>