
<fieldset>
	<div class="control-group">
		<label for="field-label">Name</label>
		<div class="controls">
			<input type="text" class="field-label" placeholder="">
		</div>
	</div>
	<div class="control-group">
		<label for="field-label">Type</label>
		<div class="controls">
			<select class="field-type">
				<option value="text">Text</option>
				<option value="checkbox">Checkbox</option>
				<option value="checkbox">Dropdown</option>
				<option value="radio">Radio</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label>Required</label>
		<input type="checkbox"></input>
	</div>
	
</fieldset>
