<div class="control-group">
	<label for="field-label"><input type="text" class="field-label-input" placeholder="Label"></input></label>
	<div class="controls">
		<textarea class="field-input field-textarea"></textarea>
	</div>
</div>