<div class="control-group">
	<label for="field-label"><input type="text" class="field-label-input unfocused" placeholder="Edit label"></input></label>
	<div class="controls">
		<select class="field-input field-listbox">
			<option></option>
		</select>
	</div>
</div>