<div class="field-layout-example">
	<div class="control-group">
		<label for="field-label"><input type="text" class="field-label-input unfocused empty" placeholder="Enter a label" maxlength="100"></input></label>
		<div class="controls">
			<select class="field-input field-listbox" name="{{name}}">
				<option></option>
			</select>
			<input type="text" class="field-listbox-edit"></input>
		</div>
	</div>
</div>
<div class="field-layout-details">
	<div class="pull-right drag-handle" tabindex="-1"><i class="icon-align-justify icon-white pull-right"></i></div>
	<ul class="inline form-inline">
		<li><input type="text" class="input-medium field-label-input unfocused field-name hastooltip" placeholder="{{name}}" data-toggle="tooltip" data-original-title="Provide a name for this textbox"></li>
		<li>
			<select class="input-small field-label-input unfocused field-limit hastooltip" data-toggle="tooltip" data-original-title="Limit text to email, phone, etc...">
				<option value="None">Custom</option>
				<option value="States">States</option>
			</select>
		</li>
		<li><input type="text" class="input-mini field-label-input unfocused field-quantity-options field-numeric hastooltip" data-value-min="1" data-value-max="12" value="1" size="2" maxlength="2" data-toggle="tooltip" data-original-title="Number of options"></li>
		<li><div class="field-center-checkbox"><input type="checkbox" class="field-required hastooltip" data-toggle="tooltip" data-original-title="Check if this should be a required field"></input>&nbsp;Required</div></li>
	</ul>
</div>