<div class="control-group">
	<label for="field-label"><input type="text" class="field-label-input" placeholder="Label"></input></label>
	<div class="controls">
		<input type="radio" class="field-input field-radio"></input>
	</div>
</div>