<div class="control-group">
	<label for="field-label"><input type="text" class="field-label-input unfocused" placeholder="Label" maxlength="100"></input></label>
	<div class="controls">
		<input type="checkbox" class="field-input field-checkbox"></input>&nbsp;<input type="text" class="input-small field-label-input unfocused after-checkbox" placeholder="Text" maxlength="100"></input>
	</div>
</div>