<ul class="breadcrumb well">
  <li><a href="#">Processes</a> <span class="divider">/</span></li>
  <li class="active">{{#if processDefinitionKey}}{{ processDefinitionKey }}{{else}}Untitled{{/if}}</li>
</ul>
<div class="accordion" id="process-detail-accordian">
	<form id="process-detail-form">
		<div class="accordion-group editing">
			<div class="accordion-heading">
				<div class="accordion-toggle">
					<a class="section-toggle-switch" data-toggle="collapse" data-parent="#process-detail-accordian"
						data-target="#process-basic-information">
						{{#if processDefinitionKey}}
							<i class="section-open-indicator icon-chevron-right"></i>
						{{else}}
							<i class="section-open-indicator icon-chevron-down"></i>
						{{/if}}
						&nbsp;<span class="lead">Basic information</span>
					</a>
					<span class="pull-right"><button class="edit-button btn" type="button">Done</button></span>
				</div>		
			</div>
			<div id="process-basic-information" class="accordion-body collapse {{#unless processDefinitionKey}}in{{/unless}}">
				<div class="accordion-inner">
					<div class="alert alert-info tips-and-tricks">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						To get started, describe what your process is. Say as little or as much as you want.	
					</div>
					<fieldset>
						<div class="control-group">
							<label>Key</label>
							<div class="controls">
								<div class="viewable process-short-name-readonly muted"></div>
								<input class="editable process-short-name" type="text"
									name="processDefinitionKey" maxlength="25" size="25"
									placeholder="Letters/numbers, no spaces" required> <span
									class="help-inline hide">Required</span>
							</div>
						</div>
						<div class="control-group">
							<label>Label <span class="text-info">(optional)</span></label>
							<div class="controls">
								<div class="viewable process-short-name-readonly muted"></div>
								<input class="editable process-formal-name span6" type="text"
									name="processLabel" maxlength="80"
									placeholder="How would you refer to it officially?">
								<span class="help-inline hide">Required</span>
							</div>
						</div>
						<div class="control-group">
							<label>Description <span class="text-info">(optional)</span></label>
							<div class="controls">
								<div class="viewable process-short-name-readonly muted"></div>
								<textarea class="editable process-summary span8"
									name="processSummary"
									placeholder="Provide some more details about how the process works"
									rows="4"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label>Participants <span class="text-info">(optional)</span></label>
							<div class="controls">
								<div class="viewable process-short-name-readonly muted"></div>
								<textarea class="editable process-participants span8"
									name="participantSummary"
									placeholder="What people or groups have to take action?"></textarea>
							</div>
						</div>
<!-- 						<div class="span4 pull-right"> -->
<!-- 							<a href="#" class="btn btn-primary btn-medium">Save &raquo;</a> -->
<!-- 						</div> -->
					</fieldset>
				</div>
			</div>
		</div>
		<div class="accordion-group editing">
			<div class="accordion-heading">
				<div class="accordion-toggle">
					<a class="section-toggle-switch" data-toggle="collapse" data-parent="#process-detail-accordian"
						data-target="#process-interactions">
						<i class="section-open-indicator icon-chevron-right"></i>&nbsp;<span class="lead">User interactions</span>
					</a>
					<span class="pull-right"><button class="edit-button btn" type="button">Edit</button></span>
				</div>
			</div>
			<div id="process-interactions" class="accordion-body collapse in">
				<div class="accordion-inner">
					<div class="alert alert-info tips-and-tricks">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						A user interaction usually involves two or more screens. The simplest case is a data entry screen followed by a confirmation
						screen that let's the user know the data was valid, and that can provide a confirmation number. 
					</div>
					<div class="navbar">
						<div class="navbar-form">
							<button class="btn add-screen-button pull-right" type="button" role="button">Add web page</button>
						</div>
					</div>
					<p></p>
					<div>
						<ul class="nav">
							<li>
								<div class="screen-list">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>




