<p class="lead">Describe a process</p>
<p class="muted">To get started, describe what your process is. Say as little or as much as you want.</p>
<form id="process-basic-information">
	<fieldset>
		<div class="control-group">
			<label>Formal name</label>
			<div class="controls">
				<input class="process-formal-name span6" type="text"
					name="process_formal_name"
					placeholder="How would you refer to it officially?" required>
				<span class="help-inline hide">Required</span>
			</div>
		</div>
		<div class="control-group">
			<label>Shorthand name</label>
			<div class="controls">
				<input class="process-short-name span3" type="text"
					name="process_short_name"
					placeholder="What do you call it for short?" required> <span
					class="help-inline hide">Required</span>
			</div>
		</div>
		<div class="control-group">
			<label>Description <span class="muted">(optional)</span></label>
			<div class="controls">
				<textarea class="new-process-summary span8"
					name="new_process_summary"
					placeholder="Provide some more details about how the process works"
					rows="4"></textarea>
			</div>
		</div>
		<div class="control-group">
			<label>Participants <span class="muted">(optional)</span></label>
			<div class="controls">
				<textarea class="new-process-summary span8"
					name="new_process_summary"
					placeholder="What people or groups have to take action?"></textarea>
			</div>
		</div>
		<div>
			<a href="#update-process" class="btn btn-primary">Save</a>
		</div>
	</fieldset>
</form>