<div class="form-inline">
	<ul class="inline">
		<li class="span3">
			<div class="control-group">
				<label>Title</label>
				<span class="input-large uneditable-input">Title</span>
			</div>
		</li>
		<li class="span4">
			<div class="control-group">
				<label>Location</label>
				<div class="input-append">
  					<input class="span10" name="url" type="text" size="85" maxlength="200" placeholder="Cut-and-paste link here"></input>
  					<a class="btn" href="#designer/configure/123" role="button" type="button">Configure</a>
				</div>
			</div>
		</li>
	</ul>
</div>