<div class="navbar">
	<div class="navbar-inner">
		<div class="span6">
			<ul class="breadcrumb">
				<li><a href="#">Processes</a> <span class="divider">/</span></li>
				<li><a href="#designer/edit/{{ process.id }}">{{ process.shortName }}</a> <span class="divider">/</span></li>
				<li class="active">{{ title }}</li>
			</ul>
		</div>
		<div class="pull-right">
			<div class="btn-group">
				<a class="btn accessible-btn add-field-button" tabindex="100" autofocus="autofocus"><i class="icon-plus"></i> Add</a> 
				<a class="btn accessible-btn dropdown-toggle" tabindex="101" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a class="accessible-btn add-section-button" tabindex="110"><i class="icon-list-alt"></i> Section</a></li>
					<li><a class="accessible-btn add-field-button"  tabindex="111"><i class="icon-tag"></i> Field</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<button class="btn btn-danger accessible-btn remove-button" disabled><i class="icon-remove icon-white"></i> Delete</button> 
			</div>
		</div>
	</div>
</div>

<div class="screen-content">
	
</div>

<div id="remove-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="remove-dialog-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="remove-dialog-label">Are you sure?</h3>
  </div>
  <div class="modal-body">
    <p>Removing a field </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
    <button class="btn btn-primary">Yes</button>
  </div>
</div>