<div class="form-inline row-fluid">
	<ul class="inline">
		<li class="span3">
			<div class="control-group">
				<label>Title</label>
				<input class="span12" type="text" size="20" maxlength="100" placeholder="Screen title"></input>
			</div>
		</li>
		<li class="span6">
			<div class="control-group">
				<label>Location</label>
				<div class="input-append span12">
  					<input class="span10" name="url" type="text" size="65" maxlength="200" placeholder="Cut-and-paste link here"></input>
  					<a class="btn" href="#designer/screen/456" role="button" type="button">Configure</a>
				</div>
			</div>
		</li>
	</ul>
</div>