<fieldset>
	<div class="control-group">
		<label>Title</label>
		<div class="controls">
			<div class="viewable screen-title-readonly muted"></div>
			<input class="editable screen-title" type="text" name="title" maxlength="45" size="45"
				placeholder="" required> <span class="help-inline hide">Required</span>
		</div>
	</div>
</fieldset>