<div class="sidebar-header nav-header">
	<div class="row-fluid">
		<div class="pull-left">{{title}}</div>
		<div class="pull-right">
			<a class="btn btn-mini btn-link add-button pull-right" {{#if actions.add}} href="{{actions.add}}" {{/if}}><i class="icon-plus-sign"></i></a>
		</div>
	</div>
</div>
<div class="sidebar-content"></div>