<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <textarea class="form-control input-block-level" placeholder="Enter a comment" ng-model="comment" id="attach-comment" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="cancel()" type="button" class="btn btn-default" aria-hidden="true">Cancel</button>
            <button ng-click="ok(comment)" type="button" id="attach-button" class="btn btn-primary">Attach</button>
        </div>
    </div>
</div>