<script type="text/ng-template" id="container.html">
    <div data-ng-show="notifications" class="alert alert-danger">
        <h4 data-ng-if="notifications[0].title">{{notifications[0].title}}</h4>
        <ul>
            <li data-ng-repeat="notification in notifications" data-ng-bind-html="notification.message"></li>
        </ul>
    </div>
    <h2>{{form.container.title}}</h2>
    <div data-ng-show="form.container.readonly">
        <div data-ng-show="form.state == 'assigned'" class="alert alert-info">This form cannot be modified - it is assigned to {{form.task.assignee.displayName}}</div>
        <div data-ng-show="form.state == 'completed'" class="alert alert-info">This form can no longer be modified - it was completed by {{form.task.assignee.displayName}} on {{form.task.endTime|date:'MMM d, y H:mm'}}</div>
        <div data-ng-show="form.state == 'suspended'"class="alert alert-info">This form can no longer be modified - it has been suspended</div>
        <div data-ng-show="form.state == 'cancelled'"class="alert alert-info">This form can no longer be modified - it has been cancelled</div>
    </div>
    <div class="notifications"></div>
    <div>
        <form ng-class="isViewingAttachments && 'col-md-8'" class="form form-default" action="{{form.action}}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="screen" id="{{container.containerId}}">
                    <ul data-ng-model="form.container.fields">
                        <li data-ng-class="field.cssClass" data-ng-repeat="field in form.container.fields" data-ng-include="'field.html'" class="pw-field"></li>
                    </ul>
                    <div class="screen-footer">
                        <div class="btn-toolbar pull-right" role="toolbar">
                            <button data-ng-repeat="button in form.container.buttons" data-ng-show="!form.container.readonly" class="btn btn-default" name="{{button.name}}" type="{{button.type}}" value="{{button.value}}">{{button.label}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div ng-show="isViewingAttachments" class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button data-ng-click="editAttachments()" class="close" type="button"><i ng-class="isEditingAttachments ? 'fa fa-unlock' : 'fa fa-lock'" class="fa fa-lock"></i></button>
                    <span class="lead">Notes</span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="attachment in attachments">
                        <div class="row">
                            <div class="col-md-12">
                                <button data-ng-show="isEditingAttachments" data-ng-click="deleteAttachment(attachment)" class="text-danger close " type="button">&times;</button>
                                    <span data-ng-switch on="attachment.contentType">
                                        <span data-ng-switch-when="text/plain"  title="{{attachment.description}}">{{attachment.description}}</span>
                                        <span data-ng-switch-default class="pw-attachment-file">
                                            <i class="fa fa-paperclip"></i> <a href="{{attachment.link}}" title="{{attachment.description}}">{{attachment.description}}</a>
                                        </span>
                                    </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right text-muted">{{attachment.user.displayName}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right text-muted">{{attachment.lastModified|date:'MMM d, y H:mm'}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="field.html">
    <label ng-if="field.label">{{field.label}}</label>
    <div ng-switch on="field.type">
        <div ng-switch-when="html" ng-bind-html="field.defaultValue">{{field.defaultValue}}</div>
        <div ng-switch-when="checkbox">
            <div class="checkbox" ng-repeat="option in field.options">
                <label>
                    <input ng-disabled="{{!field.editable}}" ng-model="field.value" ng-readonly="field.readonly" ng-required="{{field.required}}" type="checkbox" name="{{field.name}}" value="{{option.value}}"> {{option.label}}
                </label>
            </div>
        </div>
        <input ng-switch-when="date" ng-model="field.value" ng-readonly="field.readonly" ng-required="{{field.required}}" class="form-control" type="datetime-local" name="{{field.name}}"/>
        <div ng-switch-when="radio">
            <div class="radio" ng-repeat="option in field.options">
                <label>
                    <input ng-model="field.value" ng-readonly="field.readonly" ng-required="{{field.required}}" type="radio" name="{{field.name}}" value="{{option.value}}"> {{option.label}}
                </label>
            </div>
        </div>
        <div ng-switch-when="select-one">
            <select ng-model="field.value" ng-readonly="field.readonly" ng-required="{{field.required}}" class="form-control" name="{{field.name}}" >
                <option ng-repeat="option in field.options" value="{{option.value}}">
                    {{option.label!='' && option.label || option.value}}
                </option>
            </select>
        </div>
        <div data-ng-switch-when="file" data-ng-show="field.value">
            <img class="thumbnail" data-ng-src="{{field.value.link ? field.value.link : field.value}}"/>
            <input ng-show="{{!field.readonly}}" class="form-control" name="{{field.name}}" type="file"/>
        </div>
        <div data-ng-switch-when="person">
            <input ng-model="field.value.displayName" ng-show="field.readonly" class="form-control" type="text" disabled/>
            <input ng-model="field.value" ng-maxlength="{{field.maxValueLength}}" ng-minlength="{{field.minValueLength}}" ng-pattern="{{field.pattern}}" ng-show="!field.readonly" ng-required="field.required" class="form-control" placeholder="{{field.placeholder ? field.placeholder : 'Enter name'}}" type="text" typeahead="person for person in getPeople($viewValue) | filter:$viewValue | limitTo:8" typeahead-wait-ms="300" />
            <input ng-show="!field.readonly" value="{{field.value.userId ? field.value.userId : field.value}}" name="{{field.name}}" type="hidden"/>
        </div>
        <textarea ng-switch-when="textarea" ng-model="field.value" ng-maxlength="{{field.maxValueLength}}" ng-minlength="{{field.minValueLength}}" ng-pattern="{{field.pattern}}" ng-readonly="{{field.readonly}}" ng-required="field.required" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}"></textarea>
        <input data-ng-switch-default ng-disabled="!field.editable" ng-model="field.value" ng-maxlength="{{field.maxValueLength}}" ng-minlength="{{field.minValueLength}}" ng-pattern="{{field.pattern}}" ng-readonly="field.readonly" ng-required="{{field.required}}" class="form-control" type="{{field.type}}" name="{{field.name}}" placeholder="{{field.placeholder}}" size="{{field.displayValueLength}}"/>
    </div>
    <span data-ng-repeat="message in field.messages" class="text-danger">{{message.text}}</span>
</script>

<script type="text/ng-template" id="multistep.html">
    <div data-ng-show="notifications" class="alert alert-danger">
        <h4 data-ng-if="notifications[0].title">{{notifications[0].title}}</h4>
        <ul>
            <li data-ng-repeat="notification in notifications" data-ng-bind-html="notification.message"></li>
        </ul>
    </div>
    <div data-ng-show="form.container.readonly">
        <div data-ng-show="form.state == 'assigned'" class="alert alert-info">This form cannot be modified - it is assigned to {{form.task.assignee.displayName}}</div>
        <div data-ng-show="form.state == 'completed'" class="alert alert-info">This form can no longer be modified - it was completed by {{form.task.assignee.displayName}} on {{form.task.endTime|date:'MMM d, y H:mm'}}</div>
        <div data-ng-show="form.state == 'suspended'"class="alert alert-info">This form can no longer be modified - it has been suspended</div>
        <div data-ng-show="form.state == 'cancelled'"class="alert alert-info">This form can no longer be modified - it has been cancelled</div>
    </div>
    <div class="notifications"></div>
    <div>
        <form class="form form-default" action="{{form.action}}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="crumbs col-md-3">
                    <ul class="breadcrumb-stacked">
                        <li ng-repeat="step in form.steps" ng-class="form.activeStep == step.ordinal ? 'active' : ''">
                            <a ng-show="step.ordinal <= form.container.activeChildIndex" ng-click="form.activeStep = step.ordinal" href="" class="list-group-item-text">{{step.breadcrumb}}</a>
                            <span ng-show="step.ordinal > form.container.activeChildIndex">{{step.breadcrumb}}</span>
                        </li>
                    </ul>
                </div>
                <div ng-class="isViewingAttachments ? 'col-md-5' : 'col-md-9'" class="screen" id="container-{{container.containerId}}">
                    <div ng-repeat="step in form.steps" ng-show="form.activeStep == step.ordinal" class="screen-content">
                        <h2>{{form.container.title}}</h2>
                        <h4>{{step.title}}</h4>
                        <ul data-ng-model="step.fields">
                            <li data-ng-class="field.cssClass" data-ng-repeat="field in step.fields" data-ng-include="'field.html'" class="pw-field"></li>
                        </ul>
                    </div>
                    <div class="screen-footer">
                        <div class="btn-toolbar pull-right" role="toolbar">
                            <button data-ng-repeat="button in form.container.buttons" data-ng-show="!form.container.readonly" class="btn btn-default" name="{{button.name}}" type="{{button.type}}" value="{{button.value}}">{{button.label}}</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div ng-show="isViewingAttachments" class="pw-attachments col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button data-ng-click="editAttachments()" class="close" type="button"><i ng-class="isEditingAttachments ? 'fa fa-unlock' : 'fa fa-lock'" class="fa fa-lock"></i></button>
                            <span class="lead">Notes</span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" data-ng-repeat="attachment in attachments">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button data-ng-show="isEditingAttachments" data-ng-click="deleteAttachment(attachment)" class="text-danger close " type="button">&times;</button>
                                    <span data-ng-switch on="attachment.contentType">
                                        <span data-ng-switch-when="text/plain"  title="{{attachment.description}}">{{attachment.description}}</span>
                                        <span data-ng-switch-default class="pw-attachment-file">
                                            <i class="fa fa-paperclip"></i> <a href="{{attachment.link}}" title="{{attachment.description}}">{{attachment.description}}</a>
                                        </span>
                                    </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right text-muted">{{attachment.user.displayName}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right text-muted">{{attachment.lastModified|date:'MMM d, y H:mm'}}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>

<nav class="navbar navbar-default navbar-inverse pw-navbar-collapse" style="min-height: 20px;margin-bottom: 0px">
    <div class="user-information">
        <div id="user-information-name" class="user-information-name pull-right">
            {{context.user.displayName}}
        </div>
    </div>
</nav>
<nav class="navbar navbar-default pw-navbar-collapse">
    <div class="navbar-header">
        <button data-ng-click="isCollapsed = !isCollapsed" type="button" class="navbar-toggle">
            <span class="sr-only">Toggle search</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div collapse="isCollapsed" class="container collapse navbar-collapse navbar-ex1-collapse">
        <div class="row">
            <div class="navbar-left">
                <button data-ng-click="dialogs.openHistoryModal([form])" data-ng-show="form.history" class="btn btn-default navbar-btn selected-result-btn" id="history-dialog-button" title="History" type="button"><i class="fa fa-calendar-o fa-white"></i></button>
                <button data-ng-click="dialogs.openSuspendModal([form])" data-ng-show="form.history && form.task.active" class="btn btn-default navbar-btn" title="Suspend process" type="button"><i class="fa fa-pause fa-white"></i></button>
                <button data-ng-click="dialogs.openCancelModal([form])" data-ng-show="form.history && form.task.active" class="btn btn-danger navbar-btn incomplete-selected-result-btn" id="delete-dialog-button" data-target="#delete-dialog" data-backdrop="false" data-toggle="modal" title="Delete process" type="button"><i class="fa fa-trash-o"></i></button>
                <button data-ng-click="dialogs.openActivateModal([form])" data-ng-show="form.history && form.task.taskStatus == 'Suspended'" class="btn btn-default navbar-btn" id="activate-dialog-button" data-target="#activate-dialog" data-backdrop="false" data-toggle="modal" title="Activate process" type="button"><i class="fa fa-play"></i></button>
            </div>
            <div class="navbar-right">
                <div class="responsive-pull-right">
                    <p data-ng-show="form.history && form.task.active && form.task.assignee" class="navbar-text text-primary">Assigned to {{form.task.assignee.displayName}}</p>
                    <button data-ng-hide="!form.task.active || form.task.candidateAssignees" data-ng-click="dialogs.openAssignModal([form])" class="btn btn-default navbar-btn incomplete-selected-result-btn" data-target="#assign-dialog" data-backdrop="false" data-toggle="modal" title="Assign task" type="button"><i class="fa fa-user"></i></button>
                    <div data-ng-show="form.task.active && form.task.candidateAssignees" class="btn-group">
                        <button data-ng-click="dialogs.openAssignModal([form])" class="btn btn-default navbar-btn incomplete-selected-result-btn" id="assign-dialog-button" data-target="#assign-dialog" data-backdrop="false" data-toggle="modal" title="Assign task" type="button"><i class="fa fa-user"></i></button>
                        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-ng-repeat="candidateAssignee in form.task.candidateAssignees"><a class="candidate-assignee" id="{{candidateAssignee.userId}}">Assign to {{candidateAssignee.displayName}}</a></li>
                        </ul>
                    </div>
                    <a data-ng-click="dialogs.openCommentModal([form])" data-ng-show="form.history" class="btn btn-default navbar-btn" id="comment-button" data-target="#comment-dialog" data-backdrop="false" data-toggle="modal" title="Add comment" type="button"><i class="fa fa-comment-o"></i></a>
                    <div class="btn-group">
                        <form data-ng-show="form.history" class="navbar-form navbar-left form-inline" id="fileupload" action="{{form.attachment}}" method="POST" enctype="multipart/form-data" data-file-upload="fileUploadOptions">
                            <span class="btn btn-default navbar-btn fileinput-button" data-ng-class="{disabled: disabled}">
                                  <i ng-hide="sending" class="fa fa-paperclip"></i>  <i ng-show="sending" class='fa fa-paperclip fa-spin'></i>
                                  <input type="file" name="attachment" multiple="" ng-disabled="disabled">
                            </span>
                        </form>
                    </div>
                    <button data-ng-click="isViewingAttachments = !isViewingAttachments" data-ng-show="form.history" class="btn btn-default navbar-btn" id="attachments-button" title="View comments and attachments"><i ng-class="isViewingAttachments ? 'fa-folder-open' : 'fa-folder'" class="fa fa-folder"></i>&nbsp;<span id="attachment-count">{{form.attachmentCount}}</span></button>
                    <a class="btn btn-default navbar-btn" href="{{root}}.html" rel="external" id="back-button" title="Return to task list"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div data-ng-show="form.explanation" class="container alert alert-danger">
    <h4 data-ng-if="form.explanation.message">{{form.explanation.message}}</h4>
    <p>{{form.explanation.messageDetail}}</p>
</div>
<div class="main-content container" data-ng-switch on="form.layout">
    <div class="row" data-ng-switch-when="wizard">
        <div data-ng-include="'multistep.html'"></div>
    </div>
    <div class="row" data-ng-switch-when="normal">
        <div data-ng-include="'container.html'"></div>
    </div>
</div>