<nav class="navbar navbar-default navbar-inverse pw-navbar-collapse" style="min-height: 20px;margin-bottom: 0px">
    <div class="user-information">
        <div id="user-information-name" class="user-information-name pull-right">
            {{context.user.displayName}}
        </div>
    </div>
</nav>
<nav class="navbar navbar-default pw-navbar-collapse">
    <div class="navbar-header">
        <button data-ng-click="isCollapsed = !isCollapsed" type="button" class="navbar-toggle">
            <span class="sr-only">Toggle search</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div collapse="isCollapsed" class="container collapse navbar-collapse navbar-ex1-collapse">
        <div class="row">
            <div class="navbar-left">
                <button data-ng-click="dialogs.openHistoryModal([form])" data-ng-show="form.history" class="btn btn-default navbar-btn selected-result-btn" id="history-dialog-button" title="History" type="button"><i class="fa fa-calendar-o fa-white"></i></button>
                <button data-ng-click="dialogs.openSuspendModal([form])" data-ng-show="form.history && form.task.active" class="btn btn-default navbar-btn" title="Suspend process" type="button"><i class="fa fa-pause fa-white"></i></button>
                <button data-ng-click="dialogs.openCancelModal([form])" data-ng-show="form.history && form.task.active" class="btn btn-danger navbar-btn incomplete-selected-result-btn" id="delete-dialog-button" data-target="#delete-dialog" data-backdrop="false" data-toggle="modal" title="Delete process" type="button"><i class="fa fa-trash-o"></i></button>
                <button data-ng-click="dialogs.openActivateModal([form])" data-ng-show="form.history && form.task.taskStatus == 'Suspended'" class="btn btn-default navbar-btn" id="activate-dialog-button" data-target="#activate-dialog" data-backdrop="false" data-toggle="modal" title="Activate process" type="button"><i class="fa fa-play"></i></button>
            </div>
            <div class="navbar-right">
                <div class="responsive-pull-right">
                    <p data-ng-show="form.history && form.task.active && form.task.assignee" class="navbar-text text-primary">Assigned to {{form.task.assignee.displayName}}</p>
                    <button data-ng-hide="!form.task.active || form.task.candidateAssignees" data-ng-click="dialogs.openAssignModal([form])" class="btn btn-default navbar-btn incomplete-selected-result-btn" data-target="#assign-dialog" data-backdrop="false" data-toggle="modal" title="Assign task" type="button"><i class="fa fa-user"></i></button>
                    <div data-ng-show="form.task.active && form.task.candidateAssignees" class="btn-group">
                        <button data-ng-click="dialogs.openAssignModal([form])" class="btn btn-default navbar-btn incomplete-selected-result-btn" id="assign-dialog-button" data-target="#assign-dialog" data-backdrop="false" data-toggle="modal" title="Assign task" type="button"><i class="fa fa-user"></i></button>
                        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-ng-repeat="candidateAssignee in form.task.candidateAssignees"><a class="candidate-assignee" id="{{candidateAssignee.userId}}">Assign to {{candidateAssignee.displayName}}</a></li>
                        </ul>
                    </div>
                    <a data-ng-click="dialogs.openCommentModal([form])" data-ng-show="form.history" class="btn btn-default navbar-btn" id="comment-button" data-target="#comment-dialog" data-backdrop="false" data-toggle="modal" title="Add comment" type="button"><i class="fa fa-comment-o"></i></a>
                    <div class="btn-group">
                        <form data-ng-show="form.history" class="navbar-form navbar-left form-inline" id="fileupload" action="{{form.attachment}}" method="POST" enctype="multipart/form-data" data-file-upload="fileUploadOptions">
                            <span class="btn btn-default navbar-btn fileinput-button" data-ng-class="{disabled: disabled}">
                                  <i ng-hide="sending" class="fa fa-paperclip"></i>  <i ng-show="sending" class='fa fa-paperclip fa-spin'></i>
                                  <input type="file" name="attachment" multiple="" ng-disabled="disabled">
                            </span>
                        </form>
                    </div>
                    <button data-ng-click="isViewingAttachments = !isViewingAttachments" data-ng-show="form.history" class="btn btn-default navbar-btn" id="attachments-button" title="View comments and attachments"><i ng-class="isViewingAttachments ? 'fa-folder-open' : 'fa-folder'" class="fa fa-folder"></i>&nbsp;<span id="attachment-count">{{form.attachmentCount}}</span></button>
                    <a class="btn btn-default navbar-btn" href="{{root}}.html" rel="external" id="back-button" title="Return to task list"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="main-content container" data-ng-switch on="form.layout">
    <div class="row" data-ng-switch-when="wizard">
        <div data-ng-include="'../static/ng/views/multistep.html'"></div>
    </div>
    <div class="row" data-ng-switch-when="normal">
        <div data-ng-include="'../static/ng/views/container.html'"></div>
    </div>
</div>