<ul class="breadcrumb">
    <li><a href="#">Processes</a></li>
    <li><a href="#/process/{{process.processDefinitionKey}}">{{process.processDefinitionLabel}}</a></li>
    <li><a href="#/deployment/{{process.processDefinitionKey}}">Deployments</a></li>
    <li><a href="#/deployment/{{process.processDefinitionKey}}/{{deployment.deploymentId}}">#{{deployment.deploymentVersion}}</a></li>
    <li class="active">{{interaction.label}}</li>
</ul>
<div class="page-header">
    <div class="pull-right">
        <button class="btn btn-default" title="Can be started by anyone and requires no authorization"><i class="icon-unlock"></i> Public</button>
    </div>
    <h2>Task interaction: {{interaction.label}}</h2>
</div>
<div class="row">
    <div class="pw-sidebar col-md-3">
        <ul class="pw-sidenav nav">
            <li class="lead">User interfaces</li>
            <li ng-class="screen.cssClass" ng-repeat="(action, screen) in interaction.screens | orderActionType">
                <a ng-click="onSelectScreen(screen, interaction.screens)">
                    <span ng-switch on="screen.action">
                        <span ng-switch-when="CREATE"><i class="icon-edit icon-1x"></i> </span>
                        <span ng-switch-when="COMPLETE"><i class="icon-ok icon-1x"></i> </span>
                        <span ng-switch-when="REJECT"><i class="icon-thumbs-down icon-1x"></i> </span>
                    </span>
                    {{screen.title}}
                </a>
                <ul class="nav" ng-show="screen.cssClass=='active'  && screen.groupings.length > 1">
                    <li ng-repeat="grouping in screen.groupings" ng-class="grouping.cssClass">
                        <a ng-click="onSelectGrouping(grouping, screen.groupings)">
                            <span ng-if="grouping.title">{{grouping.title}}</span>
                            <span class="text-muted" ng-if="!grouping.title">Untitled screen</span>
                        </a>
                        <ul class="nav" ng-show="grouping.cssClass=='active' && grouping.sections.length > 1">
                            <li ng-repeat="section in grouping.sections">
                                <a ng-click="scrollTo(section.sectionId)"><span ng-if="section.title">{{section.title}}</span><span ng-if="!section.title" class="text-muted">Untitled</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div ng-repeat="(action, screen) in interaction.screens | orderActionType" ng-show="screen.cssClass=='active'" class="screen">
            <div ng-repeat="grouping in screen.groupings" ng-show="grouping.cssClass=='active'" class="grouping">
                <div ng-repeat="section in grouping.sections" class="panel panel-default" ng-show="true||section.visible">
                    <div class="panel-heading">
                        <div class="pull-right">
                            <div ng-if="deployment.editable" class="btn-group">
                                <button type="button" class="btn btn-default">
                                    <i class="icon-plus icon-1x"></i>Add section <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                        <span class="lead" ng-if="section.title">{{section.title}}</span>
                        <span class="lead text-muted" ng-if="!section.title">Untitled</span>
                    </div>
                    <div class="panel-body ng-hide">
                        <form role="form" id="{{section.sectionId}}">
                            <fieldset>
                                <div>
                                    <div ng-repeat="field in section.fields" class="form-group">
                                        <label>{{field.label}}</label>
                                        <div ng-switch on="field.type">
                                            <div ng-switch-when="html" ng-bind-html="field.defaultValue">{{field.defaultValue}}</div>
                                            <textarea ng-switch-when="textarea" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}"></textarea>
                                            <div ng-switch-when="checkbox">
                                                <div class="checkbox" ng-repeat="option in field.options">
                                                    <label>
                                                        <input type="checkbox" name="{{field.name}}" value="{{option.value}}"> {{option.label}}
                                                    </label>
                                                </div>
                                            </div>
                                            <input ng-switch-when="date" class="form-control" type="datetime-local" name="{{field.name}}"/>
                                            <div ng-switch-when="radio">
                                                <div class="radio" ng-repeat="option in field.options">
                                                    <label>
                                                        <input type="radio" name="{{field.name}}" value="{{option.value}}"> {{option.label}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div ng-switch-when="select-one">
                                                <select class="form-control" name="{{field.name}}" >
                                                    <option ng-repeat="option in field.options" value="{{option.value}}">
                                                        {{option.label!='' && option.label || option.value}}
                                                    </option>
                                                </select>
                                            </div>
                                            <input ng-switch-default class="form-control" type="{{field.type}}" name="{{field.name}}" size="{{field.displayValueLength}}" maxlength="{{field.maxValueLength}}"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading">
            <h4><i class="icon-edit icon-1x"></i> Form: {{interaction.requestScreen.title}}</h4>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="lead">Sections</span></div>
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="section in interaction.requestScreen.sections">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="section.visible"/> <span ng-if="section.title">{{section.title}}</span><span ng-if="!section.title" class="text-muted">Untitled</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-repeat="section in interaction.requestScreen.sections" class="panel panel-default col-sm-8" ng-show="section.visible">
                <div class="panel-heading">
                    <div class="pull-right">
                        <div ng-if="deployment.editable" class="btn-group">
                            <button type="button" class="btn btn-default">
                                <i class="icon-plus icon-1x"></i>Add section <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <span class="lead" ng-if="section.title">{{section.title}}</span>
                    <span class="lead text-muted" ng-if="!section.title">Untitled</span>
                </div>
                <div class="panel-body ng-hide">
                    <form role="form">
                        <fieldset>
                            <div>
                                <div ng-repeat="field in section.fields" class="form-group">
                                    <label>{{field.label}}</label>
                                    <div ng-switch on="field.type">
                                        <div ng-switch-when="html" ng-bind-html="field.defaultValue">{{field.defaultValue}}</div>
                                        <textarea ng-switch-when="textarea" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}"></textarea>
                                        <div ng-switch-when="checkbox">
                                            <div class="checkbox" ng-repeat="option in field.options">
                                                <label>
                                                    <input type="checkbox" name="{{field.name}}" value="{{option.value}}"> {{option.label}}
                                                </label>
                                            </div>
                                        </div>
                                        <input ng-switch-when="date" class="form-control" type="datetime-local" name="{{field.name}}"/>
                                        <div ng-switch-when="radio">
                                            <div class="radio" ng-repeat="option in field.options">
                                                <label>
                                                    <input type="radio" name="{{field.name}}" value="{{option.value}}"> {{option.label}}
                                                </label>
                                            </div>
                                        </div>
                                        <div ng-switch-when="select-one">
                                            <select class="form-control" name="{{field.name}}" ng-options="option.value as option.label for option in options"></select>
                                        </div>
                                        <input ng-switch-default class="form-control" type="{{field.type}}" name="{{field.name}}" size="{{field.displayValueLength}}" maxlength="{{field.maxValueLength}}"/>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-repeat="(action, screen) in interaction.responseScreens">
    <div class="panel-heading">
        <div class="panel-heading">
            <h4 ng-switch on="action">
                <span ng-switch-when="COMPLETE"><i class="icon-ok icon-1x"></i> Success confirmation: {{screen.title}}</span>
                <span ng-switch-when="REJECT"><i class="icon-thumbs-down icon-1x"></i> Rejection confirmation: {{screen.title}}</span>
            </h4>
        </div>
    </div>
    <div class="panel-body">
        <div ng-repeat="section in screen.sections" class="panel panel-default" ng-show="section.visible">
            <div class="panel-heading">
                <div class="pull-right">
                    <div ng-if="deployment.editable" class="btn-group">
                        <button type="button" class="btn btn-default">
                            <i class="icon-plus icon-1x"></i>Add section <span class="caret"></span>
                        </button>
                    </div>
                </div>
                <span class="lead" ng-if="section.title">{{section.title}}</span>
                <span class="lead text-muted" ng-if="!section.title">Untitled</span>
            </div>
            <div class="panel-body ng-hide">
                <form role="form">
                    <fieldset>
                        <div>
                            <div ng-repeat="field in section.fields" class="form-group">
                                <label>{{field.label}}</label>
                                <div ng-switch on="field.type">
                                    <div ng-switch-when="html" ng-bind-html="field.defaultValue">{{field.defaultValue}}</div>
                                    <textarea ng-switch-when="textarea" class="form-control" name="{{field.name}}" placeholder="{{field.placeholder}}"></textarea>
                                    <div ng-switch-when="checkbox">
                                        <div class="checkbox" ng-repeat="option in field.options">
                                            <label>
                                                <input type="checkbox" name="{{field.name}}" value="{{option.value}}"> {{option.label}}
                                            </label>
                                        </div>
                                    </div>
                                    <input ng-switch-when="date" class="form-control" type="datetime-local" name="{{field.name}}"/>
                                    <div ng-switch-when="radio">
                                        <div class="radio" ng-repeat="option in field.options">
                                            <label>
                                                <input type="radio" name="{{field.name}}" value="{{option.value}}"> {{option.label}}
                                            </label>
                                        </div>
                                    </div>
                                    <div ng-switch-when="select-one">
                                        <select class="form-control" name="{{field.name}}" ng-options="option.value as option.label for option in options"></select>
                                    </div>
                                    <input ng-switch-default class="form-control" type="{{field.type}}" name="{{field.name}}" size="{{field.displayValueLength}}" maxlength="{{field.maxValueLength}}"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div-->
<!--table class="table">
    <thead>
    <tr>
        <th>Screen</th>
        <th>Label</th>
        <th>Created</th>
        <th>Deployed</th>
        <th>Published</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="screen in interaction.screens">
        <td>{{screen.title}}</td>
    </tr>
    </tbody>
</table-->