{{#if label}}
<label>{{label}}</label>
{{/if}}
{{#if options}}
    {{#each options}}
        <label class="checkbox">
            <input type="checkbox" name="{{../name}}" value="{{value}}"> {{label}}
        </label>
    {{/each}}
{{/if}}