{{#with screen}}
    <h1>{{title}}</h1>
    {{#breadcrumb groupings}}{{#url "step"}}{{/url}}{{/breadcrumb}}
    <div class="screen" id="{{screenId}}">
        <div class="screen-header"></div>
        <ul class="sections">

        </ul>
        <div class="screen-footer">
            <ul class="screen-buttons">

            </ul>
        </div>
    </div>
{{/with}}
