{{#with screen}}
    <h1>{{title}}</h1>
    {{#breadcrumb groupings}}{{/breadcrumb}}
    <div class="screen" id="{{screenId}}">
        <div class="screen-header"></div>
        <ul class="sections">

        </ul>
    </div>
{{/with}}
