<div class="section-header">
    {{#if title}}
    <legend>{{title}}</legend>
    {{/if}}
    {{#if description}}
    <p class="lead">{{description}}</p>
    {{/if}}
</div>
<div class="section-content">

</div>
