<div id="{{id}}" class="section {{#if selected}}selected{{/if}} {{#if editable}}selectable{{/if}}">
    <div class="section-header">
        <h3>{{label}}</h3>
        {{#if description}}
        <div class="directions">{{description}}</div>
        {{/if}}
    </div>
    <div class="section-content"></div>
</div>