<h2>Tasks</h2>
<table class="search-results table table-hover">
    <thead>
    <tr>
        <th><i class="icon-check"></i></th>
        <th>Label</th>
        <th class="hide-narrow">Task</th>
        <th class="hide-narrow">Type</th>
        <th>Started</th>
    </tr>
    </thead>
</table>