<form id="search-form" action="" method="GET">
    <div>
        <ul class="toolbar-items">
            <li class="nav">
                <div class="btn-group">
                    <input title="Search by keyword" role="" class="searchField" name="keyword" placeholder="Search" id="keyword" type="text">
                </div>
            </li>
            <li class="nav">
                <div>
                    <button class="btn" role="button" id="instanceSearchButton" type="submit">&nbsp;&nbsp;<i class="icon-search"></i>&nbsp;&nbsp;</button>
                </div>
            </li>
            <!--<li class="nav btn-group">
                <a class="btn btn-link" href="#clear" role="button" id="instanceClearButton" type="button">Clear</a>
            </li>-->
            <li class="nav pull-right">
                <button class="btn btn-inverse selected-result-btn hide" id="assign-button" title="Assign task" type="button"><i class="icon-user icon-white"></i></button>
                <button class="btn btn-inverse selected-result-btn hide" id="suspend-button" title="Suspend process" type="button"><i class="icon-off icon-white"></i></button>
                <button class="btn btn-danger selected-result-btn hide" id="delete-dialog-button" data-target="#delete-dialog" data-backdrop="false" data-toggle="modal" title="Delete process" type="button"><i class="icon-trash icon-white"></i></button>

                <!--<a class="btn" href="#export" title="Export all results" id="exportButton" type="button"><i class="icon-download-alt"></i> Export</a>-->
            </li>
        </ul>
    </div>
    <div>
        <ul class="toolbar-items-buttons">
            <li class="nav">
                <div class="status-filter-container"></div>
            </li>
            <li class="nav">
                <div class="process-filter-container"></div>
            </li>
        </ul>
    </div>
</form>
