<h2>Tasks</h2>
<table class="search-results table table-hover">
    <thead>
    <tr>
        <th><i class="icon-check"></i></th>
        <th>Label</th>
        <th class="hidden-xs">Status</th>
        <th class="hidden-sm">Task</th>
        <th class="hidden-sm">Assignee</th>
        <th>Date</th>
    </tr>
    </thead>
</table>