a {
	color: RoyalBlue;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

input[type="checkbox"].field-checkbox {
	vertical-align: middle;
}

input[type="checkbox"].field-required {
	vertical-align: top;
}

input[type="text"].field-label-input.after-checkbox {
	vertical-align: top;
}

input[type="text"].field-label-input.unfocused {
	background-color: transparent;
	border: 1px solid transparent;
	box-shadow: none !important;
}

input[type="text"].field-label-input.unfocused.empty {
	border: 1px dashed green;
	padding-left: 6px;
}

input[type="text"].field-label-input.unfocused:hover {
	border: 1px dashed green;
	padding-left: 6px;
}

label input[type="text"].field-label-input.unfocused {
	padding-left: 0px;
}

input[type="text"].field-numeric {
	text-align: right;
}

select.field-label-input.unfocused {
	background-color: transparent;
	border: 1px solid transparent;
	box-shadow: none !important;
}
	
.accordion-heading .accordion-toggle [class ^="icon-"],.accordion-heading .accordion-toggle [class
	*=" icon-"] {
	vertical-align: baseline;
}

.accordion-heading .accordion-toggle a span.lead {
	color: #000;
	margin-top: 15px;
	text-decoration: none;
}

.accordion-heading .accordion-toggle a:hover span.lead {
	color: #505050;
}

.btn-medium {
	padding: 7px 15px;
	font-size: 14.5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn-medium [class ^="icon-"],.btn-medium [class *=" icon-"] {
	margin-top: 2px;
}

.drag-handle {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    padding: 5px;
    vertical-align: bottom;
    width: 100px;
}
.drag-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.editable {
	display: none !important;
}

.edit-button {
	display: none;
}

.editing .control-group {
	display: block;
}

.editing .editable {
	display: inline !important;
}

.editing .tips-and-tricks {
	display: block;
}

.editing .viewable {
	display: none !important;
}

.field-center-checkbox {
	
}

.field-input {
	
}

.field-layout {
	position: relative;
	margin: 15px 0;
	/*padding: 39px 19px 14px;*/
	padding: 0px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	min-height: 50px;
	min-width: 300px;
}

.field-layout:after {
	content: "Field";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

.field-layout.checkbox-lo:after {
	content: "Checkbox";
}

.field-layout.listbox-lo:after {
	content: "Listbox";
}

.field-layout.radio-lo:after {
	content: "Radio button";
}

.field-layout.textbox-lo:after {
	content: "Textbox";
}

.field-layout.textarea-lo:after {
	content: "Text area";
}

.selectable.selected { 
	/*background-color: LemonChiffon;*/
	outline-color: Silver;
	outline-style: auto;
	outline-width: 5px;
}

.selectable.selected:after {
	color: black;
}

.selectable.selected.for-deletion {
	outline-color: Red;
	outline-style: auto;
	outline-width: 5px;
}

.field-layout .control-group {
	margin-bottom: 0px;
}

.field-layout-details {
	background-color: #eee;
	border-top: 1px solid #ddd;
	padding: 5px 19px 5px 20px;
}

.field-layout-details ul {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.field-layout-details ul li {
	border-left: 1px solid #ddd;
}

.field-layout-details ul li:first-child {
	border-left: 1px solid transparent;
}

.field-layout-example {
	padding: 39px 19px 14px;
}

.group-layout {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow-y: auto;
}

.group-layout:after {
	content: attr(data-content);
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

.group-layout.field {
	padding: 0px;
}

.group-layout.selected.for-deletion {
	outline-color: Red;
	outline-style: auto;
	outline-width: 5px;
}

.navbar .breadcrumb {
	background-color: transparent;
	margin: 0px;
	padding: 10px 0px;
}

.navbar-inner.nogray {
	background-color: transparent;
	background-image: none;
	background-repeat: repeat-x;
	border: 1px solid transparent;
	border-radius: 0px;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.section-content {
	list-style: none;
	margin: 0px;
}

.section-layout {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 600px;
	overflow-y: auto;
}

.section-layout:after {
	content: "Section";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

.sidebar-nav {
	padding: 9px 0;
}

.tips-and-tricks {
	display: none;
}

.tips-and-tricks button.close {
	margin-top: 2px;
}

.viewable {
	margin: 7px 0px 15px;
	padding: 4px 4px;
}

@media ( max-width : 980px) { /* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

#process-interactions {
	min-height: 300px;
}