@media (max-width: 768px) {
    .main-footer {
        display: none;
    }
    .hide-narrow {
        display: none;
    }
    .main-content {
        padding-top: 80px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .selected-buttons {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width:  769px) {
    .main-content {
        padding-top: 110px;
        padding-bottom: 100px;
    }
    .responsive-pull-right {
        float: right!important;
    }
    .selected-buttons {
        float: right!important;
    }
}

body {
    margin: 0px;
}

input, .uneditable-input {
    width: auto;
}

input[type="text"]:disabled.tt-hint {
    background-color: cornsilk;
}

input[type="text"]:disabled.pw-person-found {
    background-color: white;
}

input.searchField {
    margin-bottom: 0px;
}

label {
    font-weight: normal;
}

p.lead {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    color: #999;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.attachments {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.attachments li {
    border: 1px solid #CCCCCC;
    padding: 15px 15px 0px 15px;
    margin-bottom: 5px;
}

ul.attachments li .attachment-footer {
    text-align: right;
}

ul.files li {
    padding: 0px 0px 10px;
}

ul.sections {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.sections li.section {
    margin: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

ul.screen-buttons {
    float:right;
    list-style: none;
}

ul.screen-buttons li {
    display: inline-block;
    *display: inline;
    padding-left: 5px;
}

ul.tasks {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.tasks li {
    margin: 5px 0px;
    padding: 15px 15px 5px 15px;
}

div.screen-footer {
    padding: 20px 0px 0px;
    height: 30px;
}

.checkbox-menu-item label {
    font-weight: normal;
}

.checkbox-menu-item input {

}

.control-group.error .checkbox {
    border: 1px solid #b94a48;
    border-radius: 4px;
    color: black;
    padding: 10px;
}

.control-group.error .checkbox input[type="checkbox"] {
    margin-left: 0px;
    margin-right: 10px;
}

.dropdown-menu > li > .checkbox-menu-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    white-space: nowrap;
}

input.form-control {
    width: auto;
}

select.form-control {
    width: auto;
}

.form-group.input-append label {
    display: block;
}

.form-group.input-append .form-control {
    display: inline-block;
}

.form-control.input-append div.btn-group {
    display: inline-block;
}

.hidden-checkbox {
    /*display: none !important; */
}

.limit-dropdown-container {
    line-height: 14px;
}

.limit-dropdown-container .btn {
    margin: 0px !important;
}

.main-content {

}

.main-footer {
    background-color: whitesmoke;
    border-top: 1px solid #CCCCCC;
    z-index: 0;
}

.main-navbar {
    background-color: whitesmoke;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 0px;
    padding-right: 0px;
}

.main-toolbar {
    overflow: visible;
    margin: 0px;
    min-height:48px;
    padding: 0px;
    vertical-align: middle;
    zoom: 1;
}

.main-toolbar.narrow {
   height: 45px;
}

.main-toolbar li.nav {
    margin: 0 5px 0 0;
}

.main-toolbar ul.toolbar-items {
    clear:  both;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    vertical-align: middle;
}

.main-toolbar .toolbar-items .btn-group .btn i {
    display: none;
}

.main-toolbar .toolbar-items .btn-group .btn.active i {
    display: inline-block;
    *display: inline;
}


.main-toolbar ul.toolbar-items-buttons {
    clear:  both;
    margin: 0px;
    padding: 0px;
}

.main-toolbar ul.toolbar-items-buttons li {
    line-height: 16px;
}

#assign-dialog .modal-body {
    height: 300px;
}

.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.menu-item-check {
    width: 20px;
}

.navbar h1 {
    margin-left: 20px;
}

.nav.navbar-thin {
    padding: 0px 40px;
}

.nav.navbar-thin > li > a {
    color: silver;
    height: 25px;
    padding: 3px 10px 3px 10px;
    text-shadow: none;
}

.nav.navbar-thin > li > a:hover {
    color: white;
}

.toolbar-items .nav.btn-group .dropdown span {
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
    vertical-align: text-top;
}

.twitter-typeahead {
    display: block;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.search-results {

}

.search-results .search-result {

}

.user-information {
    background-color: black;
    height: 25px;
}

.user-information-name {
    text-align: right;
    padding: 3px 20px;
}

.user-information-name a {
    color: white;
}

.user-information name .caret {
    border-top: 4px solid #ffffff;
}