html,body {
    height:100%;
}

body {
	background-color: Gainsboro; 
/* 	font: normal normal normal 1em helvetica, clean, sans-serif; */
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
/* 	min-width: 600px; */
	padding: 0px;
}

a {
	color: darkblue;
	text-decoration: none;
}

a:visited {
	color: darkblue;
}

button.attachActionBtn {
	background-color: #EEE;
	float: right;
	height: 36px;
	width: 36px;
}

button.smallSquareBtn {
	height: 32px;
	width: 32px;
}

button.tinySquareBtn {
	height: 20px;
	width: 20px;
}

button.sectionButton {
	display: none;
}

button.narrowBtn .ui-button-text {
	padding: 0em 1em;
}

div.attachFieldSet .directions {
	color: #AAA;
	white-space: normal;
}

div.attachFieldSet div {
	padding-bottom: 10px;
}

div.attachment {
	border: 1px solid #EEE;
	line-height: 30px;
	margin: 10px 10px 0px 0px;
	padding: 10px 0px 10px 10px;
}

div.attachment .attachmentLabel {
	background-position: 0px 8px;
	background-repeat: no-repeat;
	padding-left: 20px;
}

div.attachment .attachmentLabel.attachedFile {
	background-image: url("../../public/images/AttachmentIcon.gif");
}

div.attachment .attachmentLabel.externalLink {
	background-image: url("../../public/images/ExternalLinkIcon.png");
}

div.attachment .attachmentLastModified {
	color: #777;
	clear: right;
	float: right;
	font-size: 10pt;
	line-height: 22px;
}

div.attachment .attachmentUser {
	color: #777;
	clear: right;
	float: right;
	font-size: 10pt;
	line-height: 22px;
}

div.attachment .content {
	display: inline-block;
	*display: inline;
	padding-top: 2px;
	vertical-align: middle;
	width: 80%;
}

div.attachment .nicecheckbox {
	margin-top: 9px;
	vertical-align: top;
}

div.attachmentButtonToolbar {
	height: 40px;
}

div.attachmentsHeader {
	font-size: 14pt;
	padding: 7px 0px 10px;
}

div.attachmentsToolbar {
	float: right;
}

div.attachmentFile {
	display: none;
}

div.attachmentLink {
	display: none;
}

.page .section .field div.elementToolbar {
	float: right;
	margin: 4px;
}

div.fieldInput span {
	font-size: 1.1em;
	padding: 5px 2px;
}

div.inline {
	display: inline-block;
	*display: inline;
}

div.nicecheckbox {
	display: inline-block;
	*display: inline;
	overflow: visible;
	vertical-align: middle;
}

div.nicecheckbox .checkbox {
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	height: 15px;
	overflow: auto;
	width: 15px;
}

div.nicecheckbox .checkmark {
	height: 30px;
	margin-top: -27px;
	overflow: auto;
	width: 30px;
}

.checked div.nicecheckbox .checkmark {
	background-image: url('../../public/images/BlackCheckmark.png');
	background-repeat: no-repeat;
}

div.nicecheckbox input[type="checkbox"] {
	display: none;
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

i.go {
	background-image: url('../../public/images/AngleArrow2.png');
	background-repeat: no-repeat;
	height: 24px;
	right: 10px;
	width: 24px;
}

input[type="file"].attachmentFileInput {
	display: none;
}

input[type="text"] {
	border: 1px solid #AAA;	
	border-radius: 4px;
	font-size: 1em;
	height: 24px;
	padding: 2px 4px;
}

input[type="text"]:disabled {
	background-color: #EEE;
	color: DimGray;
}

input[type="text"]:focus {
	border: 1px solid lightblue;
}

input[type="text"].fieldInput.error {
	background: Cornsilk url('../../public/images/AlertIconSmall.png') right center no-repeat;
}

input[type="text"].sized {
	width: auto;
}

label.error {
	border-radius: 3px;
	color: FireBrick !important;
	display: block !important;
	font-size: 10pt !important;
	margin: 0px !important;
	min-height: 20px;
	padding: 0px 5px !important;
	width: 200px !important;
	white-space: nowrap;
}

label.warning {
	background-color: lightyellow;
	border: 1px solid #BBB;
	min-height: 20px;
	padding: 5px 10px 10px 40px;
	display: block !important;
	color: black !important;
	border-radius: 3px;
	width: 240px !important;
	margin: 5px 0px 0px 20px;
}

select {
	background-color: white;
	border: 1px solid #AAA;
	border-radius: 4px;
	font-size: 1em;
	height: 30px;
	padding: 4px;
}

select.fieldInput.error {
	background: Cornsilk;
}

textarea {
	border: 1px solid #BEBEBE;
	border-radius: 4px;
	font: normal normal normal 1em helvetica, clean, sans-serif;
	line-height: 24px;
	height: 100px;
	width: 400px;
}

textarea:disabled {
	background-color: #EEE;
}

ul {
	line-height: 25px;
	list-style-type: none;
	padding: 5px 0px 10px;
	margin: 0px;
}

ul li {
	border-bottom: 1px solid #EEE;
	padding: 0px 5px;
}

ul li:last-child {
	border-bottom: 1px solid transparent;
}

.dialog {
	background: #FFF;
	border: 1px solid #BEBEBE;
	box-shadow: 5px 5px 5px #ccc;
	display: none;
/* 	margin: 5px 20px 0px 0px; */
/* 	margin-right: 30px; */
	padding: 20px;
	position: fixed;
	right: 0px;
	width: 80%;
	z-index: 102;
	
	-moz-box-shadow: 5px 5px 5px #ccc;
  	-webkit-box-shadow: 5px 5px 5px #ccc; 	
}

.dialog.completeDialog {
	max-width: 400px;
}

.dialog .dialog-buttons {
	float: right;
}

.dialog .dialog-content {
	background: #FFF;
	margin-bottom: 20px;
	padding: 10px 20px;
}

.dialog .dialog-header {
	background: #FFF;
	font-size: 14pt;
	padding: 10px 20px;
}

.page {
	padding: 1.6em 20px 0px 20px;
}

.page .page-notification {
	display: none;
}

.notification .page .page-notification {
	background-color: lightyellow;
	background-position: 8px center;
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCC;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	font-size: 14pt;
	margin: 0px;
	padding: 10px;
	text-align: center;
}

.page .page-logo {
	display: inline-block;
	*display: inline;
	margin: 0px 20px 0px 0px;
	vertical-align: top;
}

.page .page-header {
	min-width: 850px;
	white-space: nowrap;
}

.page .page-header h2 {
	display: inline-block;
	*display: inline;
	font-weight: normal;
}

.page .page-main {
	border: 1px solid DarkGray;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 0px 1px rgba(0,0,0,.1);
	color: #000000;
	float: left;
	margin: 10px 15px 0px 0px;
	min-width: 850px;
	width: 100%;
}

.page .page-main .breadcrumbs {
	height: 100%;
	overflow: hidden;
	padding: 10px 0px;
	vertical-align: top;
	width: 100%;
}

.page .page-main .breadcrumbs .breadcrumb {
	border-bottom: 1px solid #CCC;
	color: DimGray;
	line-height: 32px;
	opacity: 0.5;
	overflow: hidden;
	padding: 0px 10px 0px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.page .page-main .breadcrumbs .breadcrumb a {
	color: black;
	text-decoration: none;
}

.page .page-main .breadcrumbs .breadcrumb.checkable {
	color: Black;
	cursor: pointer;
	opacity: 0.7;
}

.page .page-main .breadcrumbs .breadcrumb.checkable:hover {
	background-color: #FFF;
	opacity: 1;
}

.page .page-main .breadcrumbs .breadcrumb:first-child {
	border-top: 1px solid transparent;
}

.page .page-main .breadcrumbs .breadcrumb:first-child.checked {
	border-top: 1px solid #CCC;
}

.page .page-main .breadcrumbs .breadcrumb.checked {
	background-color: #FFF;
	background-image: url('../../public/images/AngleArrow2.png');
	background-position-x: right;
	background-position-y: 3px;
	background-repeat: no-repeat;
}

.page .page-main .content {
	display: inline-block;
	*display: inline;
	float: left;
	margin: 0px 0px 0px 20px;
	width: 500px;
}

.page .page-main .navigation {
	background-color: #EEE;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid #CCC;
	display: inline-block;
	*display: inline;
	float: left;
	height: inherit;
	width: 300px;
	min-height: inherit;
	min-width: 250px;
	overflow: hidden;
	vertical-align: top;
}

.page .go-back {
	display: none;
}

.page .page-toolbar {
	display: inline-block;
	*display: inline;
	float: right;
	padding: 15px 0px 0px 0px;
	vertical-align: top;
/* 	white-space: nowrap; */
/* 	width: 200px; */
	zoom: 1;
}

.page .section {
	display: none;
	margin: 0px;
	padding: 0px 0px 20px 0px;
}

.page .section.selected {
	display: block;
}

.page .section .field {
	padding: 5px 0px;
	vertical-align: top;
}

.page .section .field div {
	margin-top: 5px;
}

.page .section .field div.element.supplemental {
	display: none;
}

.page .section .field label {
	font-size: 0.9em;
	padding: 0px 0px 0px 2px;
}

.page .section .field label.radioLabel {
	font-size: 1em;
}

.page .section .section-header {
	padding: 15px 0px 15px 0px;
}

.page .section .section-header h3 {
	font-weight: normal;
	margin: 5px 0px 20px 0px;
	padding: 0px;
}

.page .section .section-header .directions {
	color: #666;
/* 	font-style: italic; */
	padding: 0px 2px;
}

.panelToolbar {
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
}

.panelToolbar .toolbarBtn {
/* 	height: 36px; */
	vertical-align: top;
}

.panels .sectionButton {
	display: none;
}

.panels .page .section .field {
	display: inline-block;
	*display: inline;
	margin: 0px 10px 0px 0px;
}

.panels .page .section {
	border-bottom: 1px solid #EEE;
	overflow: auto;
	vertical-align: top;
}

.panels .page .page-main .content {
	width: auto;
}

.panels .page .page-main .navigation {
	display: none;
}

.panels .page .section.selectable {
	display: block;
}

.panels .nextButton {
	display: none;	
}

.panels .previousButton {
	display: none;	
}

.personLookup { 
	background: white url('../../public/images/SearchIconSmall.png') right center no-repeat; 
	padding-right: 30px;
}

.personLookup.found {
	background: white url('../../public/images/CheckIconSmall.png') right center no-repeat; 
}

.screen-footer #footerLogo {
	bottom: 20px;
	left: 20px;
	position: absolute;
}

.screen-header {
	background-color: gainsboro;
	height: 22px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.screen-header .userInformation {
	color: #999;
	float: right;
	height: 18px;
	margin-right: 20px;
	padding-top: 4px;
	text-align: right;
	top: 5px;
	width: 200px;
}

.showAttach #attachBtn {
	background-color: #FFF;
}

.showAttach #attachDialog.dialog {
	background-color: #FFF;
	border: 1px solid #BEBEBE;
	display: block;
	margin: 2px;
	padding: 20px;
	position: fixed;
	overflow: auto;
	max-width: 400px;
	z-index: 500;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	-moz-box-shadow: -1px 1px 1px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.showAttachments #attachmentsBtn {
	background: #FFF;
}

.showAttachments #attachmentDialog.dialog {
	background-color: #FFF;
	border: 1px solid #BEBEBE;
	display: block;
	margin: 2px;
	padding: 20px;
	position: fixed;
	overflow: auto;
	max-width: 400px;
	z-index: 500;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	-moz-box-shadow: -1px 1px 1px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.showFile .attachmentFile {
	display: block;
}

.showFile .attachActionBtn {
	display: none;
}

.showFile #attachCancelBtn {
	display: block;
}

.showHistory #historyDialog.dialog {
	background-color: #FFF;
	border: 1px solid #BEBEBE;
	display: block;
	margin: 2px;
	padding: 20px;
	position: fixed;
	overflow: auto;
	right: 2px;
	width: 400px;
	z-index: 500;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	-moz-box-shadow: -1px 1px 1px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.showLink .attachmentLink {
	display: block;
	padding: 3px 2px;
}

.showLink .attachActionBtn {
	display: none;
}

.showLink #attachCancelBtn {
	display: block;
}

.showTasks #tasksDialog.dialog {
	background-color: #FFF;
	border: 1px solid #BEBEBE;
	display: block;
	margin: 2px;
	padding: 20px;
	position: fixed;
	overflow: auto;
	right: 2px;
	width: 400px;
	z-index: 500;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	-moz-box-shadow: -1px 1px 1px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.squareButton {
	height: 36px;
	top: 2px;
}

.task div {
	padding: 5px 0px;
}

.task .taskName {
	font-size: 14pt;
	font-weight: bold;
}

.task .taskAssignment {
	display: inline-block;
	*display: inline;
	font-style: italic;
}

.task .taskStarted {
	font-style: italic;
}

.wizard .breadcrumbs .breadcrumb .nicecheckbox {
	display: none;
}

.wizard .page .section .section-header h3 {
/* 	display: none; */
}

#attachBtn {
	height: 36px;
	top: 2px;
}

#attachCancelBtn {
	display: none;
}

#attachFileBtn {
	background-image: url("../../public/images/AttachmentIcon.gif");
	background-repeat: no-repeat;
}

#attachFileAction {
	color: blue;
	cursor: pointer;
	float: right;
	line-height: 30px;
	padding: 10px 0px 0px;
}

#attachLinkBtn {

}

#attachUrl {
	height: 25px;
	width: 320px;
}

#attachmentFile {
	opacity: 0; 
	filter:alpha(opacity: 0);
	height: 1px;
	width: 1px;
	padding: 0px;
	margin: 0px;
}

#attachmentFilePath {
	padding: 10px 3px 0px 0px;
}
