h2 {
    color: #000;
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
}

.dropdown-menu > li > .checkbox-menu-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-size; 14px;
    font-weight: normal;
    color: #333333;
    white-space: nowrap;
}

.hidden-checkbox {
    display: none !important;
}

.main-content {
    padding: 90px 50px 70px 50px;
}

.main-footer {
    background-color: whitesmoke;
}

.main-toolbar {
    background-color: whitesmoke;
    border-bottom: 1px solid #CCC;
    height: 60px;
    overflow: visible;
    padding: 0px 20px;
    vertical-align: middle;
    zoom: 1;
}

.main-toolbar li.nav {
    margin: 0 5px 0 0;
}

.main-toolbar .search-criteria {
    padding: 15px 0px 0px 0px;
    vertical-align: middle;
}

.menu-item-check {
    width: 20px;
}

.search-criteria .nav.btn-group .dropdown span {
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
    vertical-align: text-top;
}

.search-results {

}

.search-results .search-result {

}

.user-information {
    background-color: black;
    height: 25px;
}

.user-information-name {
    text-align: right;
    padding: 3px 20px;
}

.user-information-name a {
    color: white;
}

.user-information name .caret {
    border-top: 4px solid #ffffff;
}
