<div class="dropdown">
    <a id="filter-button" class="btn btn-link dropdown-toggle" data-target="limit-dropdown" data-toggle="dropdown" role="button" type="button">
        Limit to
        <b class="caret"></b>
    </a>
    <ul id="limit-dropdown" class="dropdown-menu" role="menu" aria-labelledby="filter-button">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#canceled">Canceled</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#completed">Completed</a></li>
        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#pending">Pending</a></li>
        <li class="divider"></li>
        {{#each definitions}}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#processDefinitionKey/{{processDefinitionKey}}">{{processDefinitionLabel}}</a></li>
        {{/each}}
    </ul>
</div>