<h2>Tasks</h2>
<table class="search-results table table-hover">
    <thead>
    <tr>
        <th>Label</th>
        <th>Task</th>
        <th>Type</th>
        <th>Started</th>
    </tr>
    </thead>
</table>