<li class="nav"><input title="Search by keyword" role="" class="searchField" name="keyword" placeholder="Search workflows" id="keyword" type="text"></li>
<li class="limit-dropdown-container nav btn-group">

</li>
<li class="nav btn-group">
    <a class="btn btn-link" href="#search" role="button" id="instanceSearchButton" type="submit">Search</a>
</li>
<li class="nav btn-group">
    <a class="btn btn-link" href="#clear" role="button" id="instanceClearButton" type="button">Clear</a>
</li>
<li class="nav btn-group pull-right">
    <a class="btn btn-link" href="#export" title="Export all results" id="exportButton" type="button">Export</a>
</li>
